<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <p>
    Dear Mr/Ms. <%= @request.fname %>,
    Inform to you that you have successfully requested to work for the job:<%= @request.job_name %> If you did not
    request for applying this job, please ignore this email or contact support if you have any questions
    Thanks, The VeNJOB Team
  </p>
</head>
<body>
<%= yield %>
</body>
</html>
