<div class="col bg-info py-2 border rounded-left rounded-pill" id="step-container">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
          <strong class="fa-stack-1x text-info"><%= step_number %></strong></span>
  <strong class="text-light"><%= step_name %></strong>
</div>
