<div class="latest-job">
  <div class="container-fullwidth pt-4">
    <h2 class="text-center mt-0">Latest jobs</h2>
    <hr class="divider my-4 bg-info">
    <table class="table table-hover table-striped">
      <thead class="bg-info text-white">
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Salary</th>
      </tr>
      </thead>
      <tbody>
        <%= render partial: "job", collection: @latest_jobs %>
      </tbody>
    </table>
  </div>
</div>
