<div class="col-lg-3 col-md-6 text-center">
  <div class="mt-5">
    <h3 class="h4 mb-2 text-white see-more-text"><%= region_job_list.name %></h3>
    <p class="text-muted mb-0"><%= pluralize(region_job_list, "job") %></p>
  </div>
</div>
