// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Background Cover Mixin
// Variables

// Restated Bootstrap Variables
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Font Mixins
@mixin body-font {
  font-family: Varela Round, serif !important;
}

html {
  position: relative;
  min-height: 100%;

}

body {
  height: 100%;
  margin: 0 auto -155px;
  @include body-font;

}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.push {
  height: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;

  a {
    color: inherit;
  }
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.no-border-radius {
  border-radius: 0 !important;
}

nav.navbar {
  li {
    a {
      border-bottom: 2px solid rgba(0, 0, 0, 0);

      &:hover {
        border-bottom: 2px solid white;
        transition: all 0.3s !important;
      }
    }
  }
}

/* Search bar*/
div.search {
  position: relative;
  background-color: $gray-800;
  background-image: image-url("search-banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  @include background-cover;
  padding-top: 8rem;
  padding-bottom: 8rem;

  .overlay {
    position: absolute;
    background-color: $gray-900;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }

  h1 {
    font-size: 2rem;
  }

  @media (min-width: 768px) {
    padding-top: 12rem;
    padding-bottom: 12rem;
    h1 {
      font-size: 3rem;
    }
  }
}

img.logo {
  transition-delay: 1s;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

/* Latest jobs page */
hr.divider {
  max-width: 3.25rem;
  border-width: .2rem;
}

/* Top cities, industries container */
div#info-box {
  a {
    text-decoration: none;
    color: inherit;
  }

  h3:before {
    font-family: "FontAwesome";
    content: "\f0da   ";
    position: relative;
    opacity: 0;
    -webkit-transition: all 250ms !important;
    transition: all 250ms !important;
  }

  h3:after {
    font-family: "FontAwesome";
    content: " \f0d9";
    position: relative;
    opacity: 0;
    -webkit-transition: all 250ms !important;
    transition: all 250ms !important;
  }

  h3:hover:before {
    opacity: 1;
    -webkit-transition: all 250ms !important;
    transition: all 250ms !important;
  }

  h3:hover:after {
    opacity: 1;
    -webkit-transition: all 250ms !important;
    transition: all 250ms !important;
  }
}


/* Paginate */
.custom_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;

  span {
    padding: 0.2em 0.3em;
  }

  a {
    text-decoration: none;
    color: black;
    padding: 0.2em 0.3em;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  .disabled {
    color: #aaaaaa;
  }

  .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
  }

  .page_info {
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;

    b {
      padding: 0 0.25em;
    }
  }
}

div#job-div {
  a {
    color: inherit;
    text-decoration: none;
  }
}

div#top-route {
  a {
    color: inherit;
  }
}

td#job-name {
  a {
    color: inherit;
  }
}

.form-row {
  padding-top: 20px !important;
}

.custom-file-input {
  cursor: pointer !important;
}

.form-container {
  background: linear-gradient($dark 50%, $light 50%);
}

#step-circle-disabled {
    color: $gray-300;
}
