<div class="push"></div>
<footer class="footer bg-dark">
  <div class="container-fullwidth mt-5">
    <div class="text-right pr-5 text-white">
      Copyright &copy; ZIGExN VeNtura 2020
    </div>
  </div>
</footer>
